@use '../abstracts';

.secondary {
	background-color: abstracts.$lt-grey;
	position: relative;
	bottom: 0;
	//color: abstracts.$mid-grey;
}

.secondary__data {
	padding: 2rem 1.5rem;
	margin-bottom: 0;
	margin-top: 3rem;

	li+li {
		margin-bottom: 1rem;
	}
}

.list__items {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.list__label {
	font-size: 0.625rem;
	line-height: 1.75;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: abstracts.$mid-grey;
}

.list__value {
	font-size: 1.25rem;
	font-weight: 900;
	color: abstracts.$mid-grey;
}

.dark__mode {
background-color: abstracts.$mid-grey;
}

.light__mode {
	color: abstracts.$white;
}

.hide__sec {
	display: none;
}

@media screen and (min-width: 38.75rem) {
	.secondary__data {
		padding: 2rem 4rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;

		li+li {
			margin-bottom: 0;
		}
	}

	.list__items {
		flex-direction: column;
	}

	.list__label {
		font-size: 0.8125rem;
	}
	.list__value {
		font-size: 2.5rem;		
	}
}

@media screen and (min-width: 67.5rem) {
	.secondary {
		min-height: 40vh;
	}
	.secondary__data {
		padding: 4rem 10.3125rem;
		
	}
}