@use '../abstracts';

.switch {
    position: relative;
    display: flex;
    max-width: 9rem;
    background-color: abstracts.$white;
    align-items: center;
    justify-content: space-between;
    padding: .4rem;
    border-radius: 30px;
}

.slider {
    width: 2rem;
    height: 2rem;
}

.more {
    color: black;
    padding-left: 1.5rem;
    font-size: 1rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.swithCtl {
    margin-top: 3rem;
}

.refresh__img {
    min-width: 1rem;
}

@media screen and (min-width: 38.75rem) {
    .swithCtl {
        margin-top: 5rem;
    }
}

