.wrapper {
    min-height: 100vh;
    background-image: url("../../assets/mobile/bg-image-daytime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.evening {
    background-image: url("../../assets/mobile/bg-image-nighttime.jpg");
}